.container{
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}
.time-label {
	margin: auto;
	display: flex;
	flex-direction: column;
}
.time-general {
	align-self: center;
}
.time-lap {
	color: lightslategrey;
	align-self: flex-end;
}
.control-buttons-and-lap-results {
	align-self: center;
	width: 350px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	background-color: lightgray;
	text-align: center;
}
.control-buttons {
	margin-top: 5px;
}
#start-btn { color: green }
#reset-btn { margin-right: 70px }
.btn.btn-default {
	width: 60px;
	height: 55px;
	border-radius: 50px;
	border: 2px solid white;
	line-height: 40px;
}
.lap-results {
	align-self: center;
	margin-top: 10px;
	width: 300px;
}
.resultLine {
	border-bottom: 2px solid #C0C0C0;
	margin-bottom: 10px;
}
.currentLap { 
	color: gray; 
	margin: 2px 100px 5px 0;
}
