.container{
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}
#time-label {
	margin: auto;
	display: flex;
	flex-direction: column;
}
.time-general {
	align-self: center;
}
.time-lap {
	color: lightslategrey;
	align-self: flex-end;
}
.control-buttons-and-lap-results {
	align-self: center;
	width: 400px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
#control-buttons {
	align-self: center;
}
#start-btn { color: green }
.lap-results {
	align-self: center;
	margin-top: 10px;
	width: 300px;
}
.resultLine {
	margin: auto;

}

.currentLap { color: gray; border-bottom: 2px solid #C0C0C0; margin: 2px 100px 5px 0;}
.currentTime { margin-left: 50px; border-bottom: 2px solid #C0C0C0; }